#body {
    padding: 15px;
}

#buttons {
    padding: 5px 25px;
    margin-top: 20px;
}

#box4 {
    margin-top: 20px;
}

#box2 {
    padding-top: 8px;
}

#bar {
    border-radius: 60px;
}

#vip-bt {
    margin-top: 10px;
    margin-left: 88px;
    margin-right: 88px;
    margin-bottom: 15px;
}

#vip-logo {
    margin-top: 8px;
}